.App {
  height: inherit;
  margin: 0; /* Ensure no default margins */
  padding: 0; /* Ensure no default padding */
  background-image: url("./assets/Screenshot 2024-03-14 at 4.38.02 PM.png");
  background-size: cover; /* Cover the entire background */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-position: center; /* Center the background image */
}
.v-align {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.v-alignBet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.h-alignBet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.h-align {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.h-alignEven {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.v-alignEven {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.align-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.flexFit {
  flex-grow: 1;
}
.gap {
  gap: 20px;
}
h3 {
  margin: 0px;
}
.colorG {
  background-color: #189f18;
}
